# Telegram Bot настройки
TELEGRAM_TOKEN=y7699184631:AAFIZSHGwpuMTzciximBPDS5WLoTlR7v_v0
CHAT_ID=524018174

# iCloud настройки (опционально)
ICLOUD_EMAIL=bel88mail@gmail.com
ICLOUD_PASSWORD=uamy-sjzm-bnpy-nkbi

# Настройки мониторинга
CHECK_INTERVAL=300

# Путь к локальным заметкам (опционально)
LOCAL_NOTES_PATH=~/Library/Group Containers/group.com.apple.notes 